In [9]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re

In [30]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re

# URL del listado de productos
url = 'https://listado.mercadolibre.com.pe/carros#D[A:carros]'

# Encabezados para la solicitud
encabezados = {
    "User -Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

# Realizar la solicitud
response = requests.get(url, headers=encabezados)
content = response.content
soup = BeautifulSoup(content, 'html.parser')

# Verificar si la conexión es exitosa
if response.status_code == 200:
    print("Conexión exitosa con la página")
else:
    print("Error al conectar con la página")

# Listas para almacenar datos
nombres = []
precios = []

# Extraer productos
productos = soup.find_all('h2', class_='poly-box poly-component__title')

for producto in productos:
    # Extraer el nombre
    nombre = producto.find('a')
    if nombre:
        nombres.append(nombre.text.strip())
    
    # Extraer el precio
    precio_div = producto.find_next('div', class_='poly-component__price')
    if precio_div:
        precio_span = precio_div.find('span', class_='andes-money-amount andes-money-amount--cents-superscript')
        if precio_span:
            precio = precio_span.find('span', class_='andes-money-amount__fraction')
            if precio:
                precios.append(precio.text.strip())

# Verificar las longitudes de las listas
print(f"Productos encontrados: {len(nombres)}")
print(f"Precios encontrados: {len(precios)}")

# Asegurarse de que las listas tengan la misma longitud
min_length = min(len(nombres), len(precios))
nombres = nombres[:min_length]
precios = precios[:min_length]

# Crear DataFrame
df_total = pd.DataFrame({
    'Nombre Producto': nombres,
    'Precio': precios
})


# Imprimir resultados
print(df_total)

Conexión exitosa con la página
Productos encontrados: 48
Precios encontrados: 48
                                    Nombre Producto  Precio
0               Citroën C'elysee 1.6i Bvm Seduction   3.000
1                                       Kia Rio 1.4  10.900
2                          Mazda Cx-9 Signature Awd  40.990
3                       Toyota Hilux Sw4 Ambulancia   5.000
4                    Jeep Cherokee Limited 2.4 Full  16.500
5                            Nissan Tiida Hatchback  24.700
6                             Nissan Tiida Sedan 16   6.550
7               Mazda A3 Sedan Mazda 3 Sedan Mt 2.0  11.200
8                                      Bmw 525i 2.5  11.900
9                         Jac T8 Comfort Diésel 4x4  16.600
10                             Hyundai Santa Fe 4x2      35
11                 Renault Fluence Dinamique 2.0 At  13.900
12                         Mazda Captiva Cx-9 Mazda  13.900
13  Porsche Cayenne S Tiptronic Cayenne S Tiptronic  29.900
14                     Kia Otima Regal Optima Regal   3.000
15                     Nissan Murano Le Awd 4x4 Cvt   9.650
16                           Chevrolet Captiva X2.4  11.900
17                   Chevrolet Cruze 1.8 Ls At Full   8.900
18                                Nissan Versa 2014  34.000
19                                    Kia Optima Se   9.190
20                               Nissan Tiida Sedan   8.099
21                      Toyota Hilux Hilux 4x4 2022  30.500
22                                Kia Rio 1.4 Mt-lx  13.200
23                    Kia Kia Picanto Full- 22 Full   9.599
24                       Chevrolet Tracker Mecanica  10.400
25                                Peugeot 406 Sedan   4.200
26                                 Mazda 3 2.0 2019  13.000
27                               Renault Duster 2.0   9.500
28                                Hyundai H100 2014  12.000
29             Volkswagen Gol Sedan Concept 1.6 Mec   8.900
30                              Toyota Yaris Basico  45.000
31                        Chery Tiggo 7 Tiggo 7 Pro  16.200
32                          Suzuki Swift Automatico  22.999
33             Mitsubishi L200 4x4 2.4 Td Hp Glx Mt  24.000
34                          Nissan Tilda Intermedio   8.000
35                     Mitsubishi Eclipse Cross 4wd  18.500
36                Toyota Yaris Sedán Automático Gnv      80
37                             Nissan Pathfinder Le   8.450
38        Suzuki Dzire New Dzire Gl Amt 4x2 V2 Glpt  12.800
39                    Mazda 3 Hb 2014 Hathback 2014   7.950
40                                    Mazda 3 Sedan   7.690
41                Great Wall Voleex C30 Fashionable      65
42                                 Mg 3 1.5l Mt Std   7.400
43              Jetour X70 X70 1.5t Aut 4x2 Limited  17.000
44                                Subaru 1998 Sedan  16.000
45                       Ford Explorer Limited 2012  17.200
46                               Suzuki Baleno 2018   9.500
47                                  Toyota Hilux Sr  25.900